.Auth {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .FormWrapper {
        padding: 55px 59px 41px 59px;
        width: 396px;
        background: #FAFAFA;

        form {
            padding: 0 0 40px 0;
            position: relative;
    
            button {
                margin: 0 auto;
                min-width: 96px;
                width: 96px;
                height: 96px;
                display: block;
                background-color: #999999;
                background-size: 50%;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                border-radius: 100%;
    
                &:disabled {
                    cursor: not-allowed;
                    background-color: #666666;
                }
            }
        }
    }
}

@media (max-width: 480px) {

    .Auth {
        width: 100%;

        .FormWrapper {
            padding: 20px 20px 40px 20px;
            width: 100%;
            background: transparent;
        }
    }
}