.Home {
    display: flex;
    justify-content: space-between;

    aside {
        min-width: 320px;
        width: 320px;
        display: flex;
        background: #FAFAFA;
    }

    .PokemonList {
        padding: 59px 87px;
        width: 684px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}


@media (min-width: 1230px) {

}

@media (max-width: 1229px) and (min-width: 481px) {
    $tb: 8.00vw;

}

@media (max-width: 480px) {
    $mb: 4.80vw;

}