* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
    font-style: normal;
}

body {
    overflow-y: scroll;
}

input, button {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1032px;

}

*::-webkit-input-placeholder, *::-webkit-input-placeholder { 
    color: #969696 !important; 
}

*::-moz-placeholde, *::-moz-placeholder { 
    color: #969696 !important; 
}

*:-moz-placeholder, *:-moz-placeholder { 
    color: #969696 !important; 
}

*:-ms-input-placeholder, *:-ms-input-placeholder { 
    color: #969696 !important; 
}
