* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
    font-style: normal;
}

body {
    overflow-y: scroll;
}

input, button {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1032px;

}
